# dependencies
/node_modules

# testing
/coverage

# production
/build

# ejercicios
/ejercicios

# misc
.DS_Store

# Optional eslint cache
.eslintcache


npm-debug.log*
yarn-debug.log*
yarn-error.log*